
<!DOCTYPE>
<html>
<head>
    <title>{% block title %}Ecommerce{% endblock title %}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
        body {
            padding-bottom: 20px;
            padding-top: 70px;
        }
        .messages {
            list-style: none;
        }
    </style>
    {% block css %}{% endblock css %}
</head>
<body>
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
<div class="page-header">
    <h1>Ecommerce- <small>one place for all furnitures</small></h1>
</div>

       </div>
  </div>
</nav>
   
  
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js></script>
    {% block js %}{% endblock js%}
</body>
</html>
