{% extends '_layouts/base.html' %}

{% block content %}
<div class="col-md-4 text-center"> 
<a href="{% url 'list' %}"" class="btn btn-default center-block">Explore all products</a>
</div>
{% endblock %}
