{% extends '_layouts/base.html' %}
{% block headline %}<h1>Product Details</h1>{% endblock headline%} 
{% block content %}
<h1>{{ object.p_name }}</h1>
<p>Cost={{ object.p_cost }}</p>

    <p>Description:{{ object.p_description }}<p>

{% endblock %}
