{% extends '_layouts/base.html' %}
{% block headline %}<h1>Products List</h1>{% endblock headline%} 
{% block content %}

    {% for data in object_list %}   
    <div class="container-fluid" >
        <p>Productid:{{ data.p_id }}</p>
        <a href="{{ data.get_absolute_url }}">{{ data.p_name }}</a><br>
        <img src="{{ p_image }}" alt="I have not added the images" height="60" width="80">
    </div>

   
    {% endfor %}


{% endblock %}
